*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea/compiler.xml
.idea/.name
.idea/misc.xml
app/release/app-release.aab
.idea/compiler.xml
.idea/misc.xml
.idea/runConfigurations.xml
app/release/app-release.aab
.idea/compiler.xml
